

#mainContainer div h1 {
    display: inline-block;
    background: rgba(255,156,0, 0.3);
    color: rgba(255, 156, 0, 1);
    text-transform: uppercase;
    text-shadow: 2px 0px 4px #fff;
    border: 3px solid rgba(255, 156, 0, 1);
    border-radius: 7px;
    padding: 5px 20px;
}

#mainContainer div article figure {
    display: inline-block;
    color: rgba(255, 156, 0, 0.9);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 0px 1px #eee;
}

    #mainContainer div article figure figcaption {
        margin: 5px;
    }

    #mainContainer div article figure img {
        opacity: 0.6;
        width: 200px;
        height: 200px;
        border: 3px solid rgba(255, 156, 0, 0.9);
        border-radius: 7px;
    }

        #mainContainer div article figure img:hover {
            opacity: 1;
        }
