body, header, section, footer, h1, nav, ul, a {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Tahoma, sans-serif;
}

body {
    background: url(../images/bg-body.png) repeat-y center;
    z-index: -1;
}

.wrapper {
    margin: 0 auto;
}

/*   ---> --------------------------------- header   */

header,
header h1,
header nav,
header ul,
header a {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}


header {
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin: 0;
    padding: 20px 0 0 0;
    background-color: #234465;
}

    header section.container {
        margin: auto 15px;
        max-height: 105px;
    }

    header a:hover {
        opacity: 0.6;
    }

    header section h1 {
        display: inline-block;
        position: relative;
        top: 15px;
        left: 25px;
        padding-left: 30px;
        padding-right: 30px;
        z-index: 100;
    }

    header ul li {
        display: inline-block;
        margin: 2px;
    }

        header ul li a {
            padding: 5px;
        }

    header nav {
        text-align: right;
    }

        header nav .triangle a img {
            margin: 2px 5px;
            width: 10px;
            height: 5px;
            vertical-align: baseline;
        }

        header nav#nav-profile {
            position: relative;
            top: -53px;
            right: 55px;
        }

            header nav#nav-profile ul li {
                position: relative;
                margin-left: 30px;
                margin-right: 0px;
            }

            header nav#nav-profile img.bell {
                position: absolute;
                top: -5px;
                left: 10px;
                width: 21px;
                height: 21px;
                padding: 4px;
                vertical-align: bottom;
            }

            header nav#nav-profile .fieldset {
                width: 260px;
                height: 30px;
                margin-left: -30px;
                padding: 2px 35px 2px 10px;
                position: relative;
                border: none;
                border-radius: 5px;
                background-color: #ffffff;
                font-weight: normal;
            }

            header nav#nav-profile .button {
                width: 36px;
                height: 34px;
                position: absolute;
                top: 0;
                right: -2px;
                background: url(../images/search-icon.png) no-repeat 8px center;
                background-size: 17px 17px;
                border-top: none;
                border-right: none;
                border-bottom: none;
            }

        header nav#nav-main {
            position: relative;
            top: -33px;
            right: 48px;
        }

            header nav#nav-main ul li a {
                padding: 3px 5px 3px 12px;
            }

            header nav#nav-main .dropdown {
                background-color: #234465;
                border: none;
                color: #ffffff;
                list-style-type: none;
                text-decoration: none;
                font-family: Arial, Tahoma, sans-serif;
                font-weight: bold;
                font-size: 14px;
            }

                header nav#nav-main .dropdown:hover {
                    opacity: 0.6;
                }

                header nav#nav-main .dropdown .default {
                    display: none;
                }

                header nav#nav-main .dropdown option.option {
                    font-family: Arial, Tahoma, sans-serif;
                    font-style: italic;
                    font-size: 12px;
                    border: none;
                    border-bottom: 1px;
                }

/*   <--- ---------------------------------- header   */

/*   ---> ---------------------------------- section   */

section#mainContainer {
    width: 100%;
    margin-top: 0;
    padding: 4em 0;
    background-color: #EEEEEE;
    border-bottom-left-radius: 5em;
}

    section#mainContainer div {
        clear: both;
        text-align: center;
    }

        section#mainContainer div article {
            display: block;
            background-color: #234465;
            text-align: left;
            border-radius: 2.5em;
            margin: 2em 5em;
            padding: 2em 3em;
            color: #fff;
        }
/*   <--- ---------------------------------- section   */

/*   ---> ---------------------------------- footer   */
footer {
    font-family: Arial, Tahoma, sans-serif;
    width: 100%;
    margin: 0;
    padding: 2em 0 4em 0;
    bottom: 0px;
    background-color: #234465;
    border-top-right-radius: 5em;
    font-size: 1em;
}

    footer table {
        margin-left: 7%;
        width: 70%;
        color: #fff;
    }

table th, td {
    width: 24%;
    vertical-align: top;
    text-align: left;
    padding-left: 5px;
    padding-right: 10px;
}

table th {
    padding-top: 20px;
}

footer .orange {
    font-size: 100%;
    color: #ff9C00;
    text-transform: uppercase;
    font-weight: bold;
}

footer button {
    background-color: #234465;
    border: 2px solid #ff9c00;
    color: #fff;
    text-align: center;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-bottom: 3px;
}

button:hover {
    background: #234465;
}

footer table ul li {
    display: inline-block;
    list-style: none outside none;
    padding: 0;
}

table img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.different_column {
    width: 40%;
}

button.tip {
    position: relative;
    text-decoration: none;
}

    button.tip:hover:before {
        display: block;
        position: absolute;
        padding: .5em;
        content: attr(title);
        min-width: 200px;
        text-align: center;
        width: auto;
        height: auto;
        white-space: nowrap;
        top: -32px;
        background: #ff9c00;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        color: #234465;
        font-size: 1.20em;
        -webkit-box-shadow: 2px 2px 4px #888;
        -moz-box-shadow: 2px 2px 4px #888;
        box-shadow: 2px 2px 4px #888;
    }

    button.tip:hover:after {
        position: absolute;
        display: block;
        content: "";
        border-color: #ff9c00 transparent transparent transparent;
        border-style: solid;
        border-width: 10px;
        height: 0;
        width: 0;
        position: absolute;
        top: -8px;
        left: 1em;
    }

/*   <--- ---------------------------------- footer   */
